body{
    background-color: aliceblue;
}
h4{
    padding: 0px;
    margin: 0px;
}
sup{
    color:red;
    padding:0px;
    
}
#lastname{
    margin-left: 20px;    
}
.fa{
    color: orange;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
    padding-top: 5px;
   
 }
table{
    width: 700px;
    border: 0px;
}  
th{
    padding: 10px;
    text-align: center;
}
td{
    text-align: center;
    padding: 5px;

}
.buy{
padding:10px;
text-align: left;
}




